body {
    font-style: inherit;
    font-size: '18px';
    width: '960px';
    padding: 20px;    
}
h1 {
    background-color: peru;
    color: white;

    font-size: 40px;
    padding: 20px;
}

.instructions {
    background-color: blanchedalmond;
    color: darkseagreen;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}
 
#target-status {
    margin: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 100px;
    padding-right: 10px;
}

#target {
    background-color: darkseagreen;
    color: black;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 100px;
    padding-right: 10px;
}

#status {
    background-color: mediumturquoise;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.result {
    background-color: seagreen;
    color: white;
}